[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "quotedargs"]
	path = quotedargs
	url = https://github.com/radfordneal/quotedargs
